<div class="navbarContainer container">
    <a class="logoContainer" (click)="pageClick(pages[0])">
        <span><img class="logo" src="../../../assets/logo/ShiftUp.png"></span>
    </a>
    <span *ngIf="loggedInUser" class="userGreeting">
        <div>
            <span>שלום {{loggedInUser.firstName + ' ' + loggedInUser.lastName}}</span>
            <br>
            <span style="font-size:12px;">{{loggedInUser.isManager ? "מנהל" : "עובד"}} - {{loggedInUser.businessName}}
                {{loggedInUser.isManager ? (" - (קוד " + loggedInUser.businessCode + ")") : ""}}</span>
        </div>
        <notification [loggedInUser]="loggedInUser"
            [notificationsWorkersRequestsClick]="notificationsWorkersRequestsClick.bind(this)"
            [notificationsConstraintsClick]="notificationsConstraintsClick.bind(this)">
        </notification>
    </span>
    <div class="navbarPages">
        <a *ngFor="let page of pages" class="navbarItem"
            [ngClass]="{'navbarItemClicked': page.isClicked,'logoutButton': page.displayText === 'התנתקות'}"
            (click)="pageClick(page)">
            <span class="navbarPageText">{{page.displayText}}</span>
            <i class="pageIcon {{page.icon}}"></i>
        </a>
    </div>
</div>