.buttonsContainer {
    text-align: center;
    position: relative;    
}

.btn-icon {
    font-size: 16px;
    margin-right: 5px;
    color: #eee;
}

.title {
    text-align: center;
    font-weight: bold;
    margin: 10px;
    font-size: 1.2em;
}

.workersContainer {
    display: flex;
    justify-content: center;
    padding: 0px 10px;
}

.workersContainer > div {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.workerCard {
    margin: auto;
    margin-bottom: 15px
}

.noWorkers {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.noWorkers > i {
    margin-right: 5px;
}

.searchContainer {
    margin: auto;
    width: 400px;
    margin-bottom: 15px;
}

.advancedFilterForm {
    animation-name: verticalPopup;
    animation-duration: 300ms;
}

.filterContainer {
    margin: auto;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    width: 800px;
}

.filterTitle {
    display: block;
    text-align: center;
    font-weight: bold;
}

.ageFilter, .salaryFilter, .jobFilter {
    min-width: 25%;
    margin: 0px 5px;
}

label {
    font-size: 14px;
}

.fieldResetButton {
    height: 30px;
}

.fieldResetButton > i {
    color: #eee;
}

.submitButtonContainer {
    display: flex;
    width: 20%;
    align-content: flex-end;
}

.submitButtonContainer > button {
    width: 100%;
    height: 40px;
    font-size: 16px;
}

.submitButtonContainer > button > i {
    color: #eee;
    margin-right: 5px;
}

.loader {
    margin: auto;
}

.title-icon {
    margin-right: 5px;
}

.search-icon-container {
    display: flex;
    align-items: center;
}

.delete-all-btn {
    position: absolute;
    left: 0;
}

.advance-filter-btn {
    position: absolute;
    right: 0;
}

@keyframes verticalPopup {
    0% { height: 0px; opacity: 0; }
    90% { height: 100px; opacity: 0; }
    100% { height: 100px; opacity: 1; }
}