.scan-btn {
    border: 1px solid black;
    padding: 15px;
}

label {
    margin-left: 10px;
    direction: rtl;
}

select {
    width: 150px;
}

input {
    width: 100px;
}

.search-container {
    margin-top: 30px;
}

.sector {
    margin-top: 10px;
}

.scan-btn {
    margin-top: 10px;
}