<div class="container">
    <script type="text/javascript" src="http://www.bing.com/api/maps/mapcontrol?callback=bingMapCallback&key=uPvgq4Nh7bSJpV8LKmmB~L_aavPOS7_b9Tp4Bo2X8WQ~As2x0q-bbYoeLGwybYQpvBLT-OkwrPOQu9W7oJ8hcnQEpGnKawwTQzEEzPPpfxbu&setLang=en" async defer></script>
    <h3 class="title">מפת עובדי העסק</h3>
    <div id="bingMap"></div>
    <!-- <script type="text/javascript">
        function bingMapCallback() {
            console.log("callback");
            // var map2 = new Microsoft.Maps.Map('#bingMap');
            // var map = new Microsoft.Maps.Map(document.getElementById("bingMap"), {
            //     credentials: '8jdU9kPTCEzVmyT3jRkU~rm3ZVd7SbAdEPp8lygIm8A~AuLnSHivAFETHCaowja_dJ75w4ff92UyxgW5RNfOMUaAVfTUeYeCj5oKEzjm4ItE',
            //     center: new Microsoft.Maps.Location(0, 0),
            //     zoom: 1,
            // });

            // infobox = new Microsoft.Maps.Infobox(map.getCenter(), { visible: false });
            // infobox.setMap(map);

            // var pushpin = new Microsoft.Maps.Pushpin(new Microsoft.Maps.Location(0, 0), { title: "test" });

            // // Define the click event of the point
            // Microsoft.Maps.Events.addHandler(pushpin, 'click', function (e) {
            //     infobox.setOptions({
            //         location: e.primitive.getLocation(),
            //         description: "test infobox",
            //         visible: true
            //     });
            // });
        }
    </script> -->
</div>