.title {
    text-align: center;
    font-weight: bold;
    margin: 10px;
    font-size: 1.2em;
}

.mapDescription {
    text-align: center;
    display: block;
    margin: 10px;
    font-size: 1em;
}

#bingMap {
    margin: auto;
    width: 600px;
    height: 400px;
}